.header {
    align-items: center;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    width: 100%;

    @media screen and (max-width:768px) {
        padding-left: 15px;
        padding-right: 20px;
    }

    .arrow {
        color: #fff;
        cursor: pointer;
        height: 44px;
        width: 44px;
    }

}