.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 401px;
    margin-top: 220px;
    width: max-content;

    @media screen and (max-width: 745px) {
        padding-right: 20.5px;
        padding-left: 20.5px;
    }

    .title {
        color: #FFF;
        cursor: default;
        font-size: 43px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0.14em;
        margin-bottom: 20px;
        text-align: left;

        @media screen and (max-width: 768px) {
            font-size: 26px;
            width: 336px;
            text-align: center;
        }

    }

    input {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgba(255, 255, 255, 0.77);
        border: 0px;
        color: #6AA2D1;
        font-weight: 400;
        font-size: 20px;
        height: 50px;
        margin-bottom: 1px;
        outline: none;
        padding-bottom: 13px;
        padding-left: 15px;
        padding-top: 13px;
        // width: 100%;
        width: 710px;

        @media screen and (max-width: 768px) {

            width: 334px;
        }

    }

    input::placeholder {
        color: #6AA2D1;
        font-size: 20px;
    }

    .container_suggestions {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: 1px solid #6AA2D1;
        background: rgba(255, 255, 255, 0.77);
        border: 0px;
        color: #6AA2D1;
        font-weight: 400;
        font-size: 20px;
        outline: none;
        // padding-bottom: 13px;
        padding-left: 15px;
        // padding-top: 13px;
        width: 100%;

        div:first-child {
            padding-top: 15px;
        }

        div {
            padding: 15px 0px;
            cursor: pointer;
        }

        div:active {
            color: #D2B3C1;
        }



        div:last-child {
            padding-bottom: 14px;
        }
    }


}